@model DealEditViewModel

@{
    ViewData["Title"] = "Изтрий";
}

<h1>@ViewData["Title"]</h1>

<head>
    <style>
        body {
            background-color: MintCream;
        }
    </style>
</head>

<p>Номер - @Model.Id</p>
<p>Продавач - @Model.SellerId - @Model.Name</p>
<p>Купувач - @Model.BuyerId - @Model.FirstName @Model.LastName</p>
<p>Автомобил - @Model.VehicleId - @Model.BrandName @Model.Model</p>
<p>Дата - @Model.Date</p>
<p>Отстъпка - @Model.Discount</p>
<p>Начин на плащане - @Model.PaymentType</p>

<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Изтрий напълно" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-success">Назад</a>
</form>



