@model StoreEditViewModel
@{
    ViewData["Title"] = "Детайли";
}

<h1>@ViewData["Title"]</h1>

<head>
    <style>
        body {
            background-color: MintCream;
        }
    </style>
</head>

<p>Номер - @Model.Id</p>
<p>Име - @Model.StoreName</p>
<p>Населено място - @Model.City</p>
<p>Адрес - @Model.Address</p>

<a asp-action="Index" class="btn btn-success">Назад</a>



