@model BuyerInfoEditViewModel
@{
    ViewData["Title"] = "Детайли";
}

<h1>@ViewData["Title"]</h1>

<p>Номер - @Model.Id</p>
<p>Име - @Model.FirstName</p>
<p>Презиме - @Model.MiddleName</p>
<p>Фамилия - @Model.LastName</p>
<p>Населено място - @Model.City</p>
<p>Адрес - @Model.Address</p>
<p>Телефонен номер - @Model.Phone</p>
<p>Номер на шофьорска книжка - @Model.DriverLicenseNumber</p>

<a asp-action="Index" class="btn btn-success">Назад</a>

<ul>
    <li>
        <div>
            <span class="font-weight-lighter alert-warning">Име</span>
            <span class="alert-info col-md-1 font-weight-bold">@Model.FirstName</span>
        </div>
    </li>
</ul>

